    h1 {
      background-color: #1C2488;
      color: #fff;
    }
    
    a {
      color: #597918;
    }
    
    body {
      background-color: #ccdddd;
    }
    
    /* Mengubah div menjadi tampilan kartu */
    div.kartu-profil {
      background-color: #60B559;
      width: 250px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      text-align: center;
    }
    
    div.kartu-profil img {
      border-radius: 50%;
      border: 6px solid #0056b3;
    }
    
    .navigasi {
      background-color: #889DCE;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
    }
    
    .navigasi a {
      text-decoration: none;
    }
    
    .navigasi .aktif {
      font-weight: bold;
      color: #93394A;
    }
    
    div.kartu-kontak {
      background-color: #ffffff;
      width: 80%;
      /* elemen rata tengah horizontal */
      margin: 0 auto;
      padding: 10px;
      /* sudut kotak tumpul */
      border-radius: 10px;
    }
    
    .tombol-medsos {
      /* agar tombol melebar satu baris penuh */
      display: block;
      padding: 10px;
      /* teks rata tengah */ 
      text-align: center;
      text-decoration: none;
      margin: 8px;
      /* sudut tumpul */
      border-radius: 12px;
    }
    
    .wa {
      background-color: #25d366;
    }
    
    .github {
      background-color: #333333;
    }